RUST_LOG=debug
DATABASE_URL=postgresql://postgres:postgres@localhost/shrimp
# example secret, please regen using: `openssl rand -base64 32`
JWT_SECRET=Y/VXFxWTZ959RNhwduhbPLps3DR5SNNb2t2akVgUIJg=
JWT_EXPIRES_AFTER=24h
